@model IEnumerable<Medipac.Models.AdmCarruselNoticias>

@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide mt-3">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
        }
    </div>
    <div class="carousel-inner">
        @foreach (var (slider, index) in Model.Select((s, i) => (s, i)))
        {
            <div class="carousel-item @(index == 0 ? "active" : "")">
                <img src="@slider.UrlImagen" class="d-block w-100 img-fluid" alt="@slider.Nombre">
                <div class="carousel-caption d-none d-md-block text-overlay">
                    <h5>@slider.Titulo</h5>
                    <p>@slider.Subtitulo</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

