@model Medipac.Areas.RES.Data.DTO.DtoResAgenda

@{
    ViewData["Title"] = "Asignar Disponibilidad";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    @using (Html.BeginForm("Create", "ResAgenda", FormMethod.Post))
    {
        <div class="mb-3">
            <label for="Fecha" class="form-label">Fecha</label>
            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="HoraInicioDisplay" class="form-label">Hora de Inicio</label>
            @Html.EditorFor(model => model.HoraInicioDisplay, new { htmlAttributes = new { @class = "form-control", type = "time" } })
            @Html.ValidationMessageFor(m => m.HoraInicio, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="HoraFinDisplay" class="form-label">Hora de Fin</label>
            @Html.EditorFor(model => model.HoraFinDisplay, new { htmlAttributes = new { @class = "form-control", type = "time" } })
            @Html.ValidationMessageFor(m => m.HoraFin, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 form-check">
            @Html.CheckBoxFor(m => m.Disponible, new { @class = "form-check-input" })
            <label for="Disponible" class="form-check-label">Disponible</label>
            @Html.ValidationMessageFor(m => m.Disponible, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Guardar Disponibilidad</button>
        <a href="@Url.Action("Index", "ResAgenda")" class="btn btn-secondary">Cancelar</a>
    }
</div>
