@model Medipac.Areas.CLI.Data.DTO.DtoCliMedico

@using (Html.BeginForm("Create", "CliMedico"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdMedico)

    <div class="modal-body">
        <div class="row">
            <div class="mt-3 col-6">
                <h5>Rut</h5>
                @Html.EditorFor(model => model.Rut, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            maxlength = "8",  // Limita a 8 caracteres
                            placeholder = "Sin puntos ni dígito verificador",
                            pattern = "\\d{1,8}",  // Solo permite números con una longitud máxima de 8 dígitos
                            title = "El RUT debe contener hasta 8 dígitos sin el dígito verificador"
                        }
                    })
            </div>
            <div class="mt-3 col-6">
                <h5>Nombres</h5>
                @Html.EditorFor(model => model.Nombres, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col-6">
                <h5>Apellido Paterno</h5>
                @Html.EditorFor(model => model.ApPaterno, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
            </div>
            <div class="mt-3 col-6">
                <h5>Apellido Materno</h5>
                @Html.EditorFor(model => model.ApMaterno, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col-6">
                <h5>Teléfono</h5>
                @Html.EditorFor(model => model.Fono, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
            </div>
            <div class="mt-3 col-6">
                <h5>Correo</h5>
                @Html.EditorFor(model => model.Correo, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
            </div>
        </div>
        <div class="mt-3 col-6">
            <h5>Estado</h5>
            @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.Estado, "Key", "Value"), "Seleccione...", new { @class = "form-control" })
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        </div>
    </div>

    <script>
    document.getElementById("Rut").addEventListener("input", function (event) {
        // Eliminar cualquier carácter que no sea un número
        this.value = this.value.replace(/\D/g, '');

        // Limitar a 8 caracteres
        if (this.value.length > 8) {
            this.value = this.value.slice(0, 8);
        }
    });
    </script>
}